{% extends 'admin/index.html' %}
{% block body %}
{% endblock %}
{% block tail %}
<body>
<div class="container">
    <h1 class="text-center text-info">COLLECT DEBT FORM</h1>
    {% if date %}
        <div class="right">
            <label>Date: </label>
            <input id="date" name="date" value="{{date}}" readonly/><br>
        </div>
    {% endif %}
    <div class="from-group " >
         <br><br><label for="customer">Customer name: <span class="red">*</span></label>
        <select id="customer" class="form-control" name="customer">
            {% for c in customer %}
            <option value="{{c.id}}" >{{c.name}}</option>
            {% endfor %}
        </select><br>
    </div>
    <div class="form-group">
        <label for="total">Total: <span class="red">*</span></label>
        <input type="number" id="total" name="total" class="form-control">
    </div>
    <input type="submit"
           value="SUBMIT"
           class="btn btn-danger" />
</div>

</body>


{% endblock %}'