{% extends 'admin/index.html' %}
{% block body %}
{% if name %}
<div class="alert alert-success">
    {{ name }}
</div>
{% endif %}
{% if current_user.is_authenticated %}
<form method="post"
      action=""
      enctype="multipart/form-data">
    <div class="form-group">
        <label for="supplier">Supplier </label>
        <datalist id="name-of-supplier">
            {% for p in supp %}
            <option value="{{ p.name }}">
                {% endfor %}
        </datalist>
        <input list="name-of-supplier"
               autocomplete="on"
               required
               id="supplier"
               name="supplier"
               class="form-control"/>
    </div>
    <div class="form-group">
        <label for="total">Total </label>
        <input type="number "
               required
               id="total"
               name="total"
               class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" value="ADD"
               class="btn btn-danger"/>
    </div>
</form>
{% else %}
{% include 'admin/login.html' %}
{% endif %}
{% endblock %}'



