{% extends 'admin/index.html' %}
{% block body %}
{% endblock %}
{% block tail %}
<body>
<div class="container">
    <h1 class="text-center text-info">FORM IMPORT</h1>
    {% if date_buy %}
       <div class="right">
            <label>Date: </label>
            <input id="date" name="date" value="{{date_buy}}" readonly/><br>
        </div>
    {% endif %}
    <div class="from-group ">
        <label for="supplier">Supplier: <span class="red">*</span></label>
        <select id="supplier" class="form-control" name="supplier">
            {% for s in supplier %}
            <option name="{{s.price}}" value="{{s.id}}">{{s.name}}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div class="form-group">
        <label for="name">Book: <span class="red">*</span> </label>
        <select id="name" class="form-control">
            {% for p in list_book %}
          <option name="{{p.price}}" value="{{p.id}}">{{p.name}}</option>
            {% endfor %}
        </select><br>
        <input type="submit"
               id="submit"
               name="submit"
               value="Add Book"
               class="form-group col-sm-1"
               onclick="addToBuy()">
    </div>

    <table class="table" id="new-product">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
        </tr>
        {% if 'buy_cart' in session %}
        {% for p in session['buy_cart'].values() %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>
                <div class="form-group">
                    <input type="number"
                           value="{{ p.quantity }}"
                           class="form-control " id="{{ p.id }}" style="width: 100px;"/>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        {% endif %}
    </table>
    <input type="button"
           onclick="submitBuy()"
           value="SUBMIT"
           class="btn btn-danger" />
</div>

</body>


{% endblock %}'