{% extends 'admin/index.html' %}
{% block body %}
{% if name %}
<div class="alert alert-success"> SUPPLIER:
    {{ name }}
</div>
{% endif %}
{% if current_user.is_authenticated %}
<h1 class="text-info text-center">ADD BOOK TO BUY-DETAIL</h1>
<form method="post"
      action=""
      enctype="multipart/form-data">
    <div class="form-group">
        <label for="supplier">Supplier </label>
        <datalist id="name-of-supplier">
            {% for p in supp %}
            <option value="{{ p.name }}">
                {% endfor %}
        </datalist>
        <input list="name-of-supplier"
               autocomplete="on"
               required
               id="supplier"
               name="supplier"
               class="form-control"/>
    </div>
    <div class="form-group">
        <label for="name">Name </label>
        <datalist id="name-of-book">
            {% for p in list_book %}
            <option value="{{ p.name }}">
                {% endfor %}
        </datalist>
        <input list="name-of-book"
               autocomplete="on"
               required
               id="name"
               name="name"
               class="form-control"/>
    </div>
    <datalist id="list-of-cate">
        {% for p in cate %}
        <option value="{{ p.name }}">{{ p.name }}</option>
        {% endfor %}
    </datalist>
    <div class="form-group">
        <label for="quantity">Quantity </label>
        <input type="number "
               required
               id="quantity"
               name="quantity"
               class="form-control"/>
    </div>
    <div class="form-group">
            <label for="category">Category</label>
            <input list="list-of-cate" name="category" id="category" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text"
                   required
                   autocomplete="on"
                   id="author"
                   name="author"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="price">Price </label>
            <input type="number "
                   required
                   id="price"
                   name="price"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="image">Image </label>
            <input type="file"
                   required
                   id="image"
                   name="image"
                   class="form-control"/>
        </div>
    <div id="hide-if-old"></div>
    <div class="form-group">
        <lable class="btn btn-danger">ADD BOOK</lable>
        <input type="submit" value="COMPLETE" class="btn btn-danger"/>
    </div>
</form>
<h1 class="cart-info"></h1>
{% else %}
{% include 'admin/login.html' %}
{% endif %}
{% endblock %}'



