{% extends 'admin/index.html' %}
{% block body %}
{% endblock %}
{% block tail %}
<body>
<div class="container">
    <h1 class="text-center text-info">Hóa đơn bán sách </h1>
    <label for="customer">Tên Khách Hàng <span class="red">*</span></label>
    <datalist id="list-customer">
            {% for c in customer %}
            <option value="{{ c.name }}">
                {% endfor %}
        </datalist>
        <input list="list-customer"
               autocomplete="on"
               required
               id="customer"
               name="customer"
               class="form-control"/>
    <br><label>Ngày bán <span class="red">*</span></label>
    <input type="datetime-local" id="date" name="date"/><br><br>
    <div class="row form-group container">
        <label for="name">Tên Sách: <span class="red">*</span> </label>
        <select id="name" class="form-group col">
            {% for p in ut.read_books() %}
          <option name="{{p.price}}" value="{{p.id}}">{{p.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" id="submit", name="submit", value="Thêm" class="form-group col-sm-1" onclick="addToSell()">
    </div>

    <table class="table" id="new-product">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
        </tr>
        {% if 'cart' in session %}
        {% for p in session['cart'].values() %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>
                <div class="form-group">
                    <input type="number"
                           value="{{ p.quantity }}"
                           class="form-control " id="{{ p.id }}" style="width: 100px;"/>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        {% endif %}
    </table>
    <h1 id="cart-info"></h1>
    <input type="button"
           onclick="pay()"
           value="Pay"
           class="btn btn-danger" />
</div>

</body>


{% endblock %}'